@import "colors";

#list{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 4rem;

    >h1{
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
    }
    >div{
        display: flex;
        justify-content: space-evenly;

    }
}
.secondrow {
    position: relative;
    margin-top: 3rem;
}

.listCard{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.495);
    >div {
        border-radius: 20px 20px 0 0;
        background-color: yellowgreen;
        display: flex;
        align-items: center;
        padding: 1rem;
        color:white; 
    }
    > main {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h5 {
            font-size: 1.8rem;
        }
        > p{
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 1rem 0;
        }
        >button {
            background-color: green;
            color: white;
            border: none;
            padding: 1rem 2rem;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                background-color: $reddark;
            }


        }
    }
}

@media screen and  (max-width: 600px) {
    // #list >div{
    //     flex-direction: coloumn;
    // }
    .firstrow{
        display: flex;
        flex-direction: column;
    }
    .secondrow{
        display: flex;
        flex-direction: column;
    }

    .listCard{
        color: yellow;
        width: 100;
        margin: 1rem 0;

    }
}